<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/creat-post.css">
  <title>Document</title>
</head>

<body>
  <div id="page1">

<nav>
  <a href="/">HOME</a>
  &nbsp; &nbsp; &nbsp; &nbsp; 
  <a href="/creat-post" id="creat-post">CREAT-POST</a>
  &nbsp; &nbsp; &nbsp; &nbsp; 

  <a href="/read-post">READ-POST</a>
 <br>
</nav>
<hr>

<form action="/creat-post" method="post">
  <h1>Register</h1>
<br>
    <input name="image" type="url" placeholder="profile-image" height="100px" width="100px">
    <br> <br>
    <input name="name" type="text" placeholder="name">
    <br> <br>
    <input name="title"  type="text" placeholder="title">
    <br><br>
    <input name="sub_title" type="text"  placeholder="sub-title">
    <br><br>
    <input name="post_text"  type="text" placeholder="post-text">
    <br><br>
    <input  name="post_image" type="url" placeholder="post-image">
    
    <br> <br>
    <button>submit</button>
    
    
    
    </form>
  </div>

</body>
</html>