<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>

<body>
  <div id="page1">

<nav>
  <a href="/" id="home">HOME</a>
  &nbsp; &nbsp; &nbsp; &nbsp; 
  <a href="/creat-post">CREAT-POST</a>
  &nbsp; &nbsp; &nbsp; &nbsp; 

  <a href="/read-post">READ-POST</a>

</nav>


<h1>THIS IS HOME PAGE</h1>


  </div>

</body>
</html>